<h1>Новое начисление</h1>

<p>Детали начисления приведены ниже:</p>

<ul>
    <li><strong>Сумма:</strong> {{ fee.sum }} руб.</li>
    <li><strong>За что:</strong> {{ fee.notes }}</li>
    <li><strong>Категория начисления:</strong> {{ fee.notation }}</li>
    <li><strong>Период начисления:</strong> {{ fee.period }}</li>
</ul>

<hr>

<p><strong>ВНИМАНИЕ!</strong> Это — информации о начислении, а не о доступности выплаты. Она указывает на то, что на ваш «виртуальный балланс» запланировано к выплате {{ fee.sum }} руб. за «{{ fee.notes }}». Когда выплата станет доступна к получению, вы получите отдельное письмо о доступности выплаты.</p>

