{% load filters %}

<h1>Доступна новая выплата</h1>

<p>Детали выплата приведены ниже:</p>

<ul>
    <li><strong>Сумма:</strong> {{ payment.sum }} руб.</li>
    <li><strong>Способ выплаты:</strong> {{ payment|humazine_payment_type }}</li>
    <li><strong>Примечания:</strong> {{ payment.notes }}</li>
</ul>

<hr>

<p>Если у вас возникли вопросы по получению выплаты, вы можете обратиться к Наталье
    Лапиной (<a href="mailto:lapina@glc.ru">lapina@glc.ru</a>).</p>

<p>Если выплата уже получена, дополнительных действий с вашей стороны не требуется.</p>

<p>Спасибо за проделанную работу</p>
