{% extends "layout_login.html" %}

{% block content %}



    <form class="form-signin" method="post" action="{% url 'login' %}">
        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

        {% if form.errors %}
            <p>Логин или пароль неверны.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                {#                <p>Please login to see this page.</p>#}
            {% endif %}
        {% endif %}

        {% csrf_token %}
        {#        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"#}
        {#             height="72">#}

        <label for="inputEmail" class="sr-only">{{ form.username.label_tag }}</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
               name="username">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">

        <div class="checkbox mb-3">
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2015-2018</p>


    </form>


{% endblock %}


