{% extends "layout_login.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% if validlink %}



        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-password1 ">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Подтвердите пароль</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" value="Сменить пароль">
            </fieldset>
        </form>

    {% else %}



    {% endif %}

{% endblock %}