{% extends "layout_login.html" %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div class="form-signin">
        <p>Мы отправили вам инструкцию по восстановлению пароля, если существует аккаунт с электронной почты. Вы должны
            получить их в ближайшее время.</p>

        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались, и
            проверьте
            папку спама.</p>

            <div class="checkbox mb-3">
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>

{% endblock %}