{% extends "layout_plan.html" %}
{% block title %}Редактирование «{{ post.title }}»{% endblock %}

{% block styles %}
    <style>
        .attachment-image {
            overflow: hidden;
            background-size: cover;
            background-position: center;
            height: 8rem;
        }

        span.twitter-typeahead {
            width: auto !important;
        }

        section {
            padding-bottom: 1rem;
        }

        #editor {
            position: relative;
            height: 40rem;
        }

        .select2-container {
            width: 100% !important;
        }

        #header h1 {
            display: inline;
            font-weight: bold;
        }

        .edit_hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Редактирование «<a href="{% url 'posts_show' post.id %}">{{ post }}</a>»</h2>
    <div class="meta">
        <p>В номерах: {% for issue in post.issues.all %}
            <a href="{% url 'issues_show' issue.id %}">{{ issue }}</a>{% if forloop.last is False %}, {% else %}.
            {% endif %}
        {% endfor %}</p>
    </div>
    <form id="save_post_form"
          action="{% url 'posts_edit' post.id %}"
          method="post"
          accept-charset="utf-8"
          enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form.kicker.label }}
                    {% if form.kicker.errors %}
                        <ul class="errors">
                            {% for error in form.kicker.err %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.kicker }}
                </div>
            </div>
        </div>
        {% include 'plan/posts/_form_base.html' %}
        <br/>
        <section id="attachments" style="margin-bottom: 1rem;">
            {% with images=post.images pdfs=post.pdfs files=post.files %}
                {% include 'plan/posts/_attachments.html' %}
            {% endwith %}


            <div id="images_status">
                <p id="missing" style="color: lightcoral">
                    <span style="font-weight: bold;">Не хватает картинок: </span>
                    <span class="value"></span>
                </p>
                <p id="extra" style="color: cadetblue">
                    <span style="font-weight: bold;">Лишние картинки: </span>
                    <span class="value"></span>
                </p>
            </div>
        </section>

        {% include 'plan/posts/_form_extended.html' %}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ form.editor.label }}
                    {% if form.editor.errors %}
                        <ul class="errors">
                            {% for error in form.editor.err %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.editor }}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    {{ form.wp_id.label }}
                    {% if form.wp_id.errors %}
                        <ul class="errors">
                            {% for error in form.kicker.err %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.wp_id }}
                </div>
            </div>
        </div>


    </form>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="smal">Последнее изменение: {{ post.updated_at }} {% if post.last_updater %}от
                {{ post.last_updater }}{% endif %}</span>
            <div class="float-right"><input type="submit" id="save_post" form="save_post_form" class="btn btn-success"
                                            value="Сохранить"></div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.DELETE_ATTACHMENT_URL = "{% url 'posts_attachment_delete' post.id %}";
    </script>

    <script type="text/javascript">
        let INITIAL = [
            {% for image in post.images %}
                '{{ image.original_filename }}',
            {% endfor %}

        ]
        let getUsedImages = function () {
            let currentText = $('#id_xmd').val()
            return currentText.match(/!\[(.*?)\]\(.+?\)/gm).map(function (currentValue, index, array) {
                // TODO: improve lazy matching group to catch first ( from $
                let img = currentValue.match(/\]\((.+?)\)$/)[0].slice(2, -1);

                // if its a video with preview
                if (img.indexOf(' ' > -1)) {
                    let chunks = img.split(' ');
                    if (chunks[0].indexOf('youtube.com') > -1) return chunks[1];
                    if (chunks[0].indexOf('vimeo.com') > -1) return chunks[1]
                }

                // if its a gallery
                if (img.indexOf(',') > -1) return img.split(',');

                return img
            })
        }

        let countStats = function () {
            let usedImages = getUsedImages()

            let missingImages = [...new Set(usedImages.filter(x => !INITIAL.includes(x)))]
            let extraImages = [...new Set(INITIAL.filter(x => !usedImages.includes(x)))]

            return [missingImages, extraImages]
        }

        let updateStats = function () {
            let [missing, extra] = countStats()

            let missingInfo = 'все в порядке'
            if (missing.length > 0) {
                missingInfo = missing.join(', ')
            }
            $('#images_status #missing .value').text(missingInfo)

            let extraInfo = 'все в порядке'
            if (extra.length > 0) {
                extraInfo = extra.join(', ')
            }
            $('#images_status #extra .value').text(extraInfo)
        }

        $(document).ready(function () {
            updateStats()
            $("#id_xmd").on('change keyup paste', function () {
                updateStats()
            });
        });
    </script>
{% endblock %}
