<ul class="navbar-nav">
    <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ current_site.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for site in sites %}
                <a class="dropdown-item" href="{{ request.scheme }}://{{ site }}{{ request.path }}">{{ site.name }}</a>
            {% endfor %}

        </div>
    </li>
</ul>