{% extends "layout_plan.html" %}
{% load filters %}
{% block title %}Сводка{% endblock %}
{% block styles %}
    <style type="text/css">
        #schedule > tbody > tr:nth-child(5) {
            border-bottom: 1rem solid #ffffff;
        }
        .table-posts {
            width: 100%;
            background-color: transparent !important;
            margin-bottom: 0rem !important;
        }
        .table-posts tr > td {
            border: 0px !important;
        }
    </style>
{% endblock %}
{% block content %}
    {% if opened_issues|length > 0 %}
        <h4>Открытые выпуски:
            {% for issue in opened_issues %}
                <a href="{% url 'issues_show' issue.id %}">{{ issue }}</a>{% if forloop.last is False %}, {% else %}.
            {% endif %}
            {% endfor %}
        </h4>
    {% endif %}

    <br>

    {% if need_to_vote|length > 0 %}
        <div class="alert alert-warning" role="alert">
            <h5>Нужен твой голос!</h5>
            <ol>
                {% for idea in need_to_vote %}
                    <li>
                        <a href="{% url 'ideas_show' idea.id %}">{{ idea.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}

    <h4>Материалы на мне</h4>
    {% with posts=self_posts %}
        {% include 'plan/partials/posts_table.html' %}
    {% endwith %}

    <br>
    <h4>План публикаций</h4>
    <table id="schedule" class="table table-bordered">
        <tbody>
        {% for day, posts in schedule.items %}
            {% if posts|length == 0 %}
                <tr class="table-danger">
            {% else %}
            {% if day|date_state == 2 %}
                <tr class="table-success day-today">
                    {% elif day|date_state == 1 %}
                <tr class="table-active day-passed">
                    {% else %}
                <tr class="table-warning">
                {% endif %}
            {% endif %}
        <td>{{ day|date:'D' }}</td>
        <td>
            <nobr>{{ day|date:'j M' }}</nobr>
        </td>
        <td>
            <table class="table table-sm table-posts">
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td style="width:60%;">
                            <a href="{% url 'posts_show' post_id=post.id %}">{{ post }}</a>
                            (<a href="{% url 'posts_edit' post_id=post.id %}">ред</a>)
                        </td>
                        <td style="width: 20%">
                            {{ post.editor }}
                        </td>
                        <td style="width: 20%">
                            {{ post.stage }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
