{% extends "layout_plan.html" %}
{% block title %}Создать статью из регулярной рубрики{% endblock %}
{% block styles %}
    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Создать статью из регулярной рубрики</h1>

    <div class="row">
        <div class="col-12">
            {% with form=form %}
                <form action="{% url 'articles_whitelisted' %}"
                      method="POST"
                      accept-charset="utf-8">
                    {% csrf_token %}
                    {% include 'magplan/posts/_form_base.html' %}
                    <button type="submit" class="btn btn-success float-right">Создать статью</button>
                </form>
            {% endwith %}
        </div>
    </div>


{% endblock %}
